---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main class="">
    <section class="">
      <div class="bg-pure-black text-pure-white px-28 py-40">
        <h1
          class="uppercase text-[2.5rem] leading-[3rem] font-bold tracking-[0.26044rem]"
        >
          Create and share your photo Stories
        </h1>
        <p class="text-[0.9375rem] font-normal leading-6 opacity-60 mt-5 mb-16">
          Photosnap is a platform for photographers and visual storytellers. We
          make it easy to share photos, tell stories and connect with others.
        </p>
        <div class="flex gap-3">
          <a href="#" class="uppercase text-xs tracking-[0.125rem]">
            Get an invite
          </a>
          <img
            class="text-pure-white fill-pure-white"
            src="/public/images/shared/desktop/arrow.svg"
            alt="arrow"
          />
        </div>
      </div>
      <div class="h-[35rem]">
        <picture>
          <source
            media="(max-width: 650px)"
            srcset="/public/images/home/tablet/create-and-share.jpg"
          />
          <source
            media="(max-width: 465px)"
            srcset="/public/images/home/mobile/create-and-share.jpg"
          />
          <img
            src="/public/images/home/desktop/create-and-share.jpg"
            alt="create-and-share"
          />
        </picture>
      </div>
    </section>
    <section class="">
      <div class="">
        <picture>
          <source
            media="(max-width: 650px)"
            srcset="/public/images/home/tablet/beautiful-stories.jpg"
          />
          <source
            media="(max-width: 465px)"
            srcset="/public/images/home/mobile/beautiful-stories.jpg"
          />
          <img
            src="/public/images/home/desktop/beautiful-stories.jpg"
            alt="beautiful-stories"
          />
        </picture>
      </div>
      <div class="bg-pure-white text-pure-black px-28 py-32">
        <h1
          class="uppercase text-[2.5rem] leading-[3rem] font-bold tracking-[0.26044rem]"
        >
          Beautiful stories every time
        </h1>
        <p class="text-[0.9375rem] font-normal leading-6 opacity-60 mt-5 mb-16">
          We provide design templates to ensure your stories look terrific.
          Easily add photos, text, embed maps and media from other networks.
          Then share your story with everyone.
        </p>
        <p class="flex
          gap-3">
          <a
            href="/stories/"
            class="uppercase text-xs tracking-[0.125rem] text-pure-black"
          >
            View the stories
          </a>
          <img
            class=""
            src="/public/images/shared/desktop/arrow-black.svg"
            alt=""
          />
        </p>
      </div>
    </section>
  </main>
</Layout>
