---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main class="">
    <section class="grid grid-cols-2"></section>
  </main>
</Layout>
