<header class="flex justify-between my-7 mx-40 uppercase items-center md:mx-10">
  <div>
    <a href="/"
      ><img src="public/images/shared/desktop/logo.svg" alt="logo" /></a
    >
  </div>
  <ul class="flex gap-9 font-bold text-xs text-pure-black leading-5">
    <li><a href="/strories">Stories</a></li>
    <li><a href="/features">features</a></li>
    <li><a href="/pricing">pricing</a></li>
  </ul>
  <div
    class="w-36 h-10 bg-pure-black text-pure-white text-center flex justify-center text-xs font-bold leading-5"
  >
    <button type="button" class="uppercase text-center tracking-[0.125rem]">
      Get an invite</button
    >
  </div>
</header>
